<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    colors="true"
    executionOrder="random"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="WebPush Bundle Test">
            <directory>./tests/Bundle</directory>
        </testsuite>
        <testsuite name="WebPush Library Test">
            <directory>./tests/Library</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <server name="KERNEL_CLASS" value="WebPush\Tests\AppKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="10.0"/>
        <server name="APP_DEBUG" value="false"/>
    </php>
</phpunit>
