{
    "source": {
        "directories": [
            "../src"
        ]
    },
    "timeout": 3,
    "phpUnit": {
        "customPath": "/tools/phpunit-11"
    },
    "logs": {
        "text": "../infection.log"
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\$this->logger.*"
        ],
        "MBString": {
            "settings": {
                "mb_substr": false,
                "mb_strlen": false
            }
        }
    }
}
