parameters:
	ignoreErrors:
		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\ExtensionCompilerPass::process() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/ExtensionCompilerPass.php

		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\LoggerSetterCompilerPass::process() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/LoggerSetterCompilerPass.php

		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\PayloadCacheCompilerPass::process() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/PayloadCacheCompilerPass.php

		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\PayloadCacheCompilerPass::processForService() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/PayloadCacheCompilerPass.php

		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\PayloadContentEncodingCompilerPass::process() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/PayloadContentEncodingCompilerPass.php

		-
			rawMessage: Control structures using switch should not be used.
			identifier: ergebnis.noSwitch
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/PayloadPaddingCompilerPass.php

		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\PayloadPaddingCompilerPass::process() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/PayloadPaddingCompilerPass.php

		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\PayloadPaddingCompilerPass::processForService() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/PayloadPaddingCompilerPass.php

		-
			rawMessage: 'Method WebPush\Bundle\DependencyInjection\Compiler\SymfonyServiceCompilerPass::process() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/DependencyInjection/Compiler/SymfonyServiceCompilerPass.php

		-
			rawMessage: Cannot access offset 'enabled' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: ../src/bundle/DependencyInjection/Configuration.php

		-
			rawMessage: Class "WebPush\Bundle\Exception\InitializationException" is not allowed to extend "WebPush\Exception\AbstractWebPushException".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/bundle/Exception/InitializationException.php

		-
			rawMessage: Class "WebPush\Bundle\WebPushBundle" is not allowed to extend "Symfony\Component\HttpKernel\Bundle\Bundle".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/bundle/WebPushBundle.php

		-
			rawMessage: 'Method WebPush\Bundle\WebPushBundle::build() has a parameter $container with a type declaration of Symfony\Component\DependencyInjection\ContainerBuilder, but containers should not be injected.'
			identifier: ergebnis.noParameterWithContainerTypeDeclaration
			count: 1
			path: ../src/bundle/WebPushBundle.php

		-
			rawMessage: 'Method WebPush\Action::getIcon() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Action.php

		-
			rawMessage: Class "WebPush\Exception\AbstractWebPushException" is not allowed to extend "Exception".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Exception/AbstractWebPushException.php

		-
			rawMessage: Class "WebPush\Exception\InvalidPayloadException" is not allowed to extend "WebPush\Exception\ValidationException".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Exception/InvalidPayloadException.php

		-
			rawMessage: Class WebPush\Exception\InvalidPayloadException is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/library/Exception/InvalidPayloadException.php

		-
			rawMessage: Class "WebPush\Exception\InvalidTTLException" is not allowed to extend "WebPush\Exception\ValidationException".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Exception/InvalidTTLException.php

		-
			rawMessage: Class WebPush\Exception\InvalidTTLException is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/library/Exception/InvalidTTLException.php

		-
			rawMessage: Class "WebPush\Exception\InvalidTopicException" is not allowed to extend "WebPush\Exception\ValidationException".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Exception/InvalidTopicException.php

		-
			rawMessage: Class WebPush\Exception\InvalidTopicException is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/library/Exception/InvalidTopicException.php

		-
			rawMessage: Class "WebPush\Exception\InvalidUrgencyException" is not allowed to extend "WebPush\Exception\ValidationException".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Exception/InvalidUrgencyException.php

		-
			rawMessage: Class WebPush\Exception\InvalidUrgencyException is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/library/Exception/InvalidUrgencyException.php

		-
			rawMessage: Class "WebPush\Exception\OperationException" is not allowed to extend "WebPush\Exception\AbstractWebPushException".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Exception/OperationException.php

		-
			rawMessage: Class "WebPush\Exception\ValidationException" is not allowed to extend "WebPush\Exception\AbstractWebPushException".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Exception/ValidationException.php

		-
			rawMessage: Class WebPush\Exception\ValidationException is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/library/Exception/ValidationException.php

		-
			rawMessage: Constructor in WebPush\Message has parameter $body with default value.
			identifier: ergebnis.noConstructorParameterWithDefaultValue
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::__construct() has parameter $body with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::__construct() has parameter $body with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::create() has parameter $body with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::create() has parameter $body with null as default value.'
			identifier: ergebnis.noParameterWithNullDefaultValue
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getActions() should return array<int, WebPush\Action> but returns array<WebPush\Action>.'
			identifier: return.type
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getBadge() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getBody() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getDir() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getIcon() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getImage() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getLang() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getRenotify() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getTag() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getTimestamp() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::getVibrate() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::isInteractionRequired() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Message::isSilent() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Message.php

		-
			rawMessage: 'Method WebPush\Notification::getPayload() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Notification.php

		-
			rawMessage: 'Method WebPush\Notification::getTopic() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Notification.php

		-
			rawMessage: 'Method WebPush\NotificationInterface::getPayload() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/NotificationInterface.php

		-
			rawMessage: 'Method WebPush\NotificationInterface::getTopic() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/NotificationInterface.php

		-
			rawMessage: Class "WebPush\Payload\AES128GCM" is not allowed to extend "WebPush\Payload\AbstractAESGCM".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Payload/AES128GCM.php

		-
			rawMessage: Class "WebPush\Payload\AESGCM" is not allowed to extend "WebPush\Payload\AbstractAESGCM".
			identifier: ergebnis.noExtends
			count: 1
			path: ../src/library/Payload/AESGCM.php

		-
			rawMessage: Cannot access offset 'd' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: Cannot access offset 'x' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: Cannot access offset 'y' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 3
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: 'Method WebPush\Payload\AbstractAESGCM::encode() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: 'Method WebPush\Payload\AbstractAESGCM::noPadding() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: 'Method WebPush\Payload\AbstractAESGCM::recommendedPadding() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: 'Method WebPush\Payload\AbstractAESGCM::setCache() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: 'Method WebPush\Payload\AbstractAESGCM::setLogger() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Payload/AbstractAESGCM.php

		-
			rawMessage: 'Method WebPush\RequestData::getBody() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/RequestData.php

		-
			rawMessage: 'Method WebPush\RequestData::setBody() has parameter $body with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/library/RequestData.php

		-
			rawMessage: 'Method WebPush\StatusReport::getErrorMessage() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/StatusReport.php

		-
			rawMessage: Class WebPush\Subscription is neither abstract nor final.
			identifier: ergebnis.final
			count: 1
			path: ../src/library/Subscription.php

		-
			rawMessage: 'Language construct isset() should not be used.'
			identifier: ergebnis.noIsset
			count: 1
			path: ../src/library/Subscription.php

		-
			rawMessage: 'Method WebPush\Subscription::expiresAt() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Subscription.php

		-
			rawMessage: 'Method WebPush\Subscription::getExpirationTime() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/Subscription.php

		-
			rawMessage: 'Method WebPush\Subscription::setExpirationTime() has parameter $expirationTime with a nullable type declaration.'
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
			count: 1
			path: ../src/library/Subscription.php

		-
			rawMessage: 'Parameter #1 $contentEncodings of method WebPush\Subscription::withContentEncodings() expects array<string>, array<mixed, mixed> given.'
			identifier: argument.type
			count: 1
			path: ../src/library/Subscription.php

		-
			rawMessage: 'Parameter #1 $input of static method WebPush\Subscription::createFromAssociativeArray() expects array<string, mixed>, array<mixed, mixed> given.'
			identifier: argument.type
			count: 1
			path: ../src/library/Subscription.php

		-
			rawMessage: 'Method WebPush\SubscriptionInterface::getExpirationTime() has a nullable return type declaration.'
			identifier: ergebnis.noNullableReturnTypeDeclaration
			count: 1
			path: ../src/library/SubscriptionInterface.php

		-
			rawMessage: Binary operation "." between '30770201010420' and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: ../src/library/Utils.php

		-
			rawMessage: 'Language construct isset() should not be used.'
			identifier: ergebnis.noIsset
			count: 1
			path: ../src/library/Utils.php

		-
			rawMessage: 'Method WebPush\Utils::computeIKM() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Utils.php

		-
			rawMessage: 'Method WebPush\Utils::privateKeyToPEM() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Utils.php

		-
			rawMessage: 'Method WebPush\Utils::publicKeyToPEM() is not final, but since the containing class is abstract, it should be.'
			identifier: ergebnis.finalInAbstractClass
			count: 1
			path: ../src/library/Utils.php

		-
			rawMessage: 'Language construct isset() should not be used.'
			identifier: ergebnis.noIsset
			count: 2
			path: ../src/library/VAPID/VAPIDExtension.php

		-
			rawMessage: 'Language construct isset() should not be used.'
			identifier: ergebnis.noIsset
			count: 2
			path: ../src/library/WebPush.php

		-
			rawMessage: 'Method WebPush\WebPush::sendToMultiple() should return array<WebPush\StatusReport> but returns list<WebPush\StatusReportInterface>.'
			identifier: return.type
			count: 1
			path: ../src/library/WebPush.php

		-
			rawMessage: 'Interface WebPush\WebPushService has PHPDoc tag @method for method sendToMultiple() parameter #2 $subscriptions with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: ../src/library/WebPushService.php
