<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="../tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
    <coverage/>
    <testsuites>
        <testsuite name="WebPush Bundle Test">
            <directory>../tests/Bundle</directory>
        </testsuite>
        <testsuite name="WebPush Library Test">
            <directory>../tests/Library</directory>
        </testsuite>
        <testsuite name="Monorepo Test">
            <file>../tests/ComposerJsonTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
        <server name="KERNEL_CLASS" value="WebPush\Tests\AppKernel"/>
        <server name="APP_DEBUG" value="false"/>
    </php>
    <source>
        <include>
            <directory>./../src</directory>
        </include>
    </source>
    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
</phpunit>
